<h2>Change your Password</h2>

<h4>Please, enter your new Password</h4>
<form action='/register/changePass' method='post'>
  <input type='hidden' name='userId' value='{{userId}}' />
  <input type='password' name='password' id='password' required />
  <input type='submit' value='SEND' />
</form>