<h2>LOGIN</h2>

<form action='/register/login' method='post'>
  Email:
  <input type='email' name='email' id='email' />
  Password:
  <input type='password' name='password' id='password' />
  <input type='submit' value='LOGIN' />
</form>

<h2>SIGN IN WITH GITHUB</h2>
<button onclick="location.href='/register/signupGithub'">GITGUB</button>

<h3>Recover your Password</h3>
<button onclick="location.href='/register/recoverPage'">RECOVER PASS</button>

<h2>New User?</h2>
<button onclick="location.href='/register'">Go to Register</button>