<h2>Recover your Password</h2>

<h4>Please, enter your Email address, we will send you a link</h4>
<form action='/register/recover' method='post'>
  <input type='email' name='email' id='email' required />
  <input type='submit' value='SEND' />
</form>